@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* rocket theme */
@font-face {
	font-family: 'Space Grotesk';
	src: url('/fonts/SpaceGrotesk.ttf');
	font-display: swap;
}

body { 
	background-image: linear-gradient(to right bottom, #141619, #101723, #0c172d, #0d1636, #14133e);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color:#141619;
}